.whats-new{
    display: flex !important;
    display: block;
    overflow: hidden;
    direction: ltr;
}

ul.news-slider{
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    transition-duration: 0s;
    transform: translate3d(0%, 0px, 0px);
    list-style: none
}

li.true{
    float: left;
    display: flex;
}

.true a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    display: flex;
}

.media-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.media-content .media-content-image{
    width: 100%;
}

.true .page-comp{
    cursor: pointer;
    background-color: #fbf6f3;
    color: #333;
    /* padding: 24px 16px; */
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-right: 20px; */
    width: 95vh;
}

.page-comp .page-comp-body{
    cursor: pointer;
    color: #333;
    text-align: center;
}

.badge{
    /* font-family: font-medium, "Gotham SSm medium A", "Gotham SSm medium B", Helvetica, Arial, sans-serif; */
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    border-top: 1px solid #333 ;
    border-bottom: 1px solid #333;
    padding: 6px 8px;
}

.badge-title span{
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.badge-description p{
    font-size: medium;
}

.badge-experience a{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    padding-top: 10px;
}

.badge-experience a span{
    padding-left: 165px;
}

.badge-experience a:hover{
    text-decoration: none;
    color: #ba0c2f;
}

.experience {
    background-color: #fbf6f3;
    display: flex;
    height: 80px;
}

.experience-region{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 22px;
}

.experience .region-slider{
    padding: 4px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between 10px;
    align-items: center;
}

.region-slider li.slide{
    display: flex;
    padding-left: 20px;
    float: left;
    height: 40px;

}

.slide:hover{
    background-color: rgba(169, 169, 169, 0.205);
    border-radius: 4px;
}

.region-slider li.slide a{
    color: #000;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
}

.reassurance{
    align-items: center;
    border: 1px solid transparent;
    display: block;
    color: #333;
    /* padding: 24px 16px; */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    /* padding-top: 30px; */
}

.reassurance-text{
    /* font-family: var(--font-book, "Gotham SSm book A", "Gotham SSm book B", Helvetica, Arial, sans-serif); */
    font-size: large;
    font-weight: 400;
    line-height: 18px;
}

.reassurance svg{
    float: left;
    margin-right: 10px;
    text-decoration: none;
}

.reassurance svg:hover{
    /* background-color: darkgray; */
    border: none;
}

.reassurance img{
    float: left;
    margin-right: 10px;
    text-decoration: none;
}